{% load home_tags %}
{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="robots" content="noindex, nofollow">

  <title>{{ meta.title }} - Poll Preview</title>

  {% block meta %}
    <meta name="author" content="{{ meta.author }}">
    <meta name="title" content="{{ meta.title }}">
    <meta name="description" content="{{ meta.description }}">

    <meta property="og:author" content="{{ meta.author }}">
    <meta property="og:title" content="{{ meta.title }}">
    <meta property="og:description" content="{{ meta.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% static_full request 'images/apple-touch-icon.png' %}">

    <meta name="darkreader-lock">
  {% endblock %}

  <link rel="icon" sizes="any" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">

  <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'dist/fontawesome/css/all.min.css' %}">

  <script type="text/javascript" src="{% static "bootstrap/theme.js" %}"></script>

  <style>
      body {
          overflow: hidden;
      }
      header {
          background-color: #00a8c2;
      }
      .image-border {
          width: 148px;
          height: 148px;
          border-radius: .5rem;
          border: 1px solid #cfcfcf;
      }
      footer {
          background-color: #0e1b23;
      }
  </style>

  {% block head %}{% endblock %}

</head>
<body class="d-flex flex-column h-100">

<header class="flex-shrink-0">
  <div class="container-fluid">
    <div class="d-flex flex-row align-items-center my-3">
      <div class="mx-2"><i class="fa-solid fa-arrow-left fa-xl"></i></div>
      <div class="mx-2"><h1 class="mb-0">Poll</h1></div>
      <div class="mx-2 ms-auto"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></div>
    </div>
  </div> <!-- container -->
</header> <!-- header -->

<main class="flex-grow-1">
  <div class="container-fluid text-center">

    <div class="row my-2">
      <h1 id="title" class="display-1 my-2">No Title</h1>
      <h1 id="question">No Question Set!</h1>
    </div> <!-- row -->

    <div class="row my-2">
      <div class="col-6 d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center align-items-center image-border">
          <img id="previewImage1" width="128" height="128" alt="No Image 1" />
        </div>
        <p id="name1" class="my-2">Missing Title 1</p>
        <button class="btn btn-success">
          Vote <i class="fa-solid fa-thumbs-up ms-2"></i>
        </button>
      </div> <!-- col -->
      <div class="col-6 d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center align-items-center image-border">
          <img id="previewImage2" width="128" height="128" alt="No Image 2" />
        </div>
        <p id="name2" class="my-2">Missing Title 2</p>
        <button class="btn btn-success">
          Vote <i class="fa-solid fa-thumbs-up ms-2"></i>
        </button>
      </div> <!-- col -->
    </div> <!-- row -->

  <div class="row mt-4">
    <div class="col-12"><p>Time remaining, 123:45:59 hours.</p></div>
    <div class="col">
      <button id="goBackBtn" class="btn btn-info">
        <i class="fa-solid fa-arrow-left me-2"></i> Go Back
      </button>
    </div> <!-- col -->
  </div> <!-- row -->

  </div> <!-- container -->
</main> <!-- main -->

<footer class="footer flex-shrink-0">
  <div class="container-fluid text-center">
    <div class="row my-4">
      <div class="col"><i class="fa-solid fa-house fa-lg"></i><br>Home</div>
      <div class="col"><i class="fa-solid fa-rss fa-lg"></i><br>News</div>
      <div class="col"><i class="fa-solid fa-gear fa-lg"></i><br>Settings</div>
    </div>
  </div> <!-- container -->
</footer> <!-- footer -->

{% block javascript %}
  <script type="text/javascript" src="{% static 'dist/jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/preview/poll.js' %}"></script>
{% endblock %}

{% block tail %}{% endblock %}

</body>
</html>
