# Production

celery>=5,<6
channels[daphne]<5
channels-redis<5
css_inline
django>=5,<6
django-celery-beat<3
django-cors-headers<5
django-redis>=5,<6
gunicorn
httpx
ipwhois
mysqlclient
premailer
#psycopg[binary]
python-decouple
segno
sentry-sdk
uvicorn[standard]


# Development

django-debug-toolbar<6
django-extensions
watchdog
Werkzeug


# Tools

bandit
black
coverage
flake8
mypy
ruff
yamllint
