<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <style type="text/css">
    {% include 'email/style.css' %}
    {% include 'email/custom.css' %}
  </style>
</head>
<body>

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content"> <!-- content -->

        <span class="preheader">{{ plain }}</span>

        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="main"> <!-- main -->
          <tr><td class="wrapper"> <!-- wrapper -->
              {% block body %}{% endblock %} <!-- body/body -->
            </td></tr> <!-- wrapper -->
        </table> <!-- main -->

        <div class="footer"> <!-- footer -->
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                <span class="apple-link">Tibs3DPrints</span>
                <br>
                <a href="https://tibs3dprints.com/">tibs3dprints.com</a>
              </td>
            </tr>
{#            <tr>#}
{#              <td class="content-block powered-by">#}
{#                Powered by <a href="https://tibs3dprints.com/">https://tibs3dprints.com/</a>#}
{#              </td>#}
{#            </tr>#}
          </table>
        </div> <!-- footer -->

      </div> <!-- content -->
    </td>
    <td>&nbsp;</td>
  </tr>
</table>

</body>
</html>
