{% extends "email/main.html" %}
{% load home_tags %}

{% block title %}Tibs3DPrints E-Mail Verification{% endblock %}

{% block body %}
  <p>Verification Code: {{ code }}</p>
  <p>
    To complete the login process, either enter the code in-app, visit the link on your mobile phone,
    or scan the QR code from your mobile phone.
  </p>
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
      <td align="left">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
          <tr>
            <td>
              <a href="{{ url }}" target="_blank">{{ code }}</a>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <p>The code is valid for {% sec_to_human ttl %}.</p>
  <a href="{{ url }}" target="_blank"><img src="cid:{{ cid }}" alt="QR Code" width="120" height="120" border="0"></a>
  <p>&nbsp;</p>
  <p>
    If the above link or code does not work try visiting this link on your mobile phone:
    <a href="{{ url }}">{{ url }}</a>
  </p>
  <p>
    Request sent from {% country_emoji whois.asn_country_code %}
    <b>{{ ip }}</b> {{ whois.asn_description|default:"Unknown" }}
  </p>
{% endblock %}
