{% extends "main.html" %}
{% block title %}Home{% endblock %}
{% load home_tags %}
{% load static %}

{% block head %}{% endblock %}

{% block body %}

  <h1>Tibs3DPrints App</h1>
  <p>Server for the client application. For more inforation please visit one of the following links:</p>
  <ul>
    <li><a href="https://app.tibs3dprints.com/">Website</a></li>
    <li><a href="https://www.tiktok.com/@tibby216">TikTok</a></li>
    <li><a href="https://www.youtube.com/@Tibs3DPrints">YouTube</a></li>
  </ul>

  <h2 class="mt-4">Administration</h2>
  {% if not request.user.is_authenticated %}
    <p>
      <a href="{% url 'oauth:login' %}?next={{ request.path }}" class="btn btn-outline-info" role="button">
        Log in with Discord <i class="fas fa-sign-in-alt ms-2"></i>
      </a>
    </p>
  {% else %}
    <p>
      Your account, <b>{{ request.user.get_name }}</b>,
      has just been hacked using your ID, <b>{{ request.user.username }}</b>.
    </p>
    <p>
      Please enjoy the rest of your day.
    </p>
    <p>
      <a class="link-info text-decoration-none" href="{% url 'admin:api_tiktokuser_changelist' %}">
        <i class="fa-solid fa-plane-departure fa-lg me-2"></i> Manage Users
      </a>
    </p>
  {% endif %}

{% endblock %} <!-- body -->

{% block tail %}
  <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
