{% extends "main.html" %}
{% block title %}Home{% endblock %}
{% load home_tags %}
{% load static %}

{% block head %}{% endblock %}

{% block body %}

  <h1>Tibs3DPrints Web</h1>

  {% if request.user.is_superuser %}
    <p>
      <a class="link-info text-decoration-none" href="{% url 'admin:home_tiktokuser_changelist' %}">
        <i class="fa-solid fa-plane-departure fa-lg me-2"></i> Manage Users
      </a>
    </p>
  {% else %}
    <p>Server for the client application. For more information please visit one of the following links:</p>
    <ul>
      <li><a href="https://app.tibs3dprints.com/">Website</a></li>
      <li><a href="https://www.tiktok.com/@tibby216">TikTok</a></li>
      <li><a href="https://www.youtube.com/@Tibs3DPrints">YouTube</a></li>
    </ul>
  {% endif %}

  <h2 class="mt-4">Administration</h2>
  {% if not request.user.is_authenticated %}
    <p>
      <a href="{% url 'oauth:login' %}?next={{ request.path }}" class="btn btn-outline-info" role="button">
        Log in with Discord <i class="fas fa-sign-in-alt ms-2"></i>
      </a>
    </p>
  {% else %}
    {% if request.user.is_superuser %}
      <p>Welcome, <b>{{ request.user.get_name }}</b>.</p>
      <p>From here you can manage your application.</p>
      <ul>
        <li><a href="{% url 'admin:index' %}">Admin Index</a></li>
        <li><a href="{% url 'admin:home_tiktokuser_changelist' %}">User Management</a></li>
        <li><a href="{% url 'admin:home_betauser_changelist' %}">Beta Testers</a></li>
      </ul>
    {% else %}
      <p>Please contact the administrator if you think this is an error.</p>
    {% endif %}
  {% endif %}

{% endblock %} <!-- body -->

{% block tail %}
  <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
