{% extends "main.html" %}
{% block title %}Home{% endblock %}
{% load home_tags %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body %}

  <h1>Tibs3DPrints Web</h1>

  {% if request.user.is_authenticated and request.user.is_superuser %}
    <p>
      <a class="link-info text-decoration-none" href="{% url 'admin:home_tiktokuser_changelist' %}">
        <i class="fa-solid fa-plane-departure fa-lg me-2"></i> Manage Users
      </a>
    </p>
  {% else %}
    <p>Server for the client application. For more information please visit one of the following links:</p>
    <ul>
      <li><a href="https://app.tibs3dprints.com/">Website</a></li>
      <li><a href="https://www.tiktok.com/@tibby216">TikTok</a></li>
      <li><a href="https://www.youtube.com/@Tibs3DPrints">YouTube</a></li>
    </ul>
  {% endif %}

  <h1 class="mt-4">Administration</h1>

  {% if not request.user.is_authenticated %}
    <p>
      <a href="{% url 'oauth:login' %}?next={{ request.path }}" class="btn btn-outline-info" role="button">
        Log in with Discord <i class="fas fa-sign-in-alt ms-2"></i>
      </a>
    </p>
  {% else %}
    {% if not request.user.is_superuser %}
      <p>Please contact the administrator if you think this is an error.</p>
    {% else %}
      <p>Welcome, <b>{{ request.user.get_name }}</b>.</p>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="card">
            <h2 class="card-header"><i class="fa-solid fa-scale-unbalanced me-2"></i> Polls</h2>
            <div class="card-body">
              <h5 class="card-title">Poll Management</h5>
              <div class="d-flex flex-wrap gap-2">
                <a href="{% url 'admin:home_poll_changelist' %}" class="btn btn-primary">Manage</a>
                <a href="{% url 'admin:home_poll_add' %}" class="btn btn-success">Add</a>
                <a href="{% url 'admin:home_choice_changelist' %}" class="btn btn-info">Choices</a>
                <a href="{% url 'admin:home_vote_changelist' %}" class="btn btn-info">Votes</a>
              </div>
            </div>
          </div> <!-- card -->
        </div> <!-- col -->
        <div class="col-md-6 mb-3">
          <div class="card">
            <h2 class="card-header"><i class="fa-solid fa-users me-2"></i> Users</h2>
            <div class="card-body">
              <h5 class="card-title">User Management</h5>
              <div class="d-flex flex-wrap gap-2">
                <a href="{% url 'admin:home_tiktokuser_changelist' %}" class="btn btn-primary">TikTok Users</a>
                <a href="{% url 'admin:home_betauser_changelist' %}" class="btn btn-info">Beta Testers</a>
              </div>
            </div>
          </div> <!-- card -->
        </div> <!-- col -->
      </div> <!-- row -->
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <h2 class="card-header"><i class="fa-solid fa-up-right-from-square me-2"></i> Links</h2>
            <div class="card-body">
              <h5 class="card-title">External Links</h5>
              <p class="card-text">Important Account Management Links.</p>
              <ul class="list-unstyled fs-3">
                <li>
                  <i class="fa-solid fa-fire-flame-curved me-2" style="color: #fbc005"></i>
                  <a href="https://console.firebase.google.com/project/tibs3dprints-android/overview" target="_blank">
                    Firebase</a>
                </li>
                <li>
                  <i class="fa-brands fa-google-play me-1" style="color: #317fec"></i>
                  <a href="https://play.google.com/console/u/0/developers/8933468453824534870/app/4972284427872657417/app-dashboard" target="_blank">
                    Play Console</a>
                </li>
              </ul>
            </div>
          </div> <!-- card -->
        </div> <!-- col -->
      </div> <!-- row -->
    {% endif %}
  {% endif %}

{% endblock %} <!-- body -->

{% block tail %}
  <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
